<div style="margin-top:50px;">
    <div style="padding-left:10px;">
        <h1 class="w3-center">Bienvenue sur notre boutique</h1>
        <h3 style="padding-left:40px;">Sélection des maillots de foot les plus esthétique :</h3><br>
        <div class="w3-container w3-padding w3-animate-right">
            <div class="w3-row" *ngFor="let col of array">
              <div class="w3-container w3-quarter" style="cursor:pointer;" *ngFor="let img of col; let i = index" (click) ="onModalMaillot(img.id)">
                <img src="assets/{{img.src}}.jpg" class="w3-hover-opacity w3-center;">
                <em class="w3-block w3-center">{{img.title}}</em>
                <em class="w3-block w3-center">{{img.price}}</em>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="w3-modal w3-hide w3-black" [ngClass]="{'w3-show': modal}" (click)="onModalMaillot()">
    <span class="w3-button w3-large w3-display-topright"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-center w3-animate-zoom w3-display-topcenter" style="color:blue;">
        <img class="w3-image" src="assets/{{modalMaillotSrc}}.jpg">
        <h2>{{modalMaillotTitle}}</h2> 
        <p>{{modalMaillotPrice}}</p>
        <button (click) ="onButtonCard()"class="w3-button w3-round-large w3-blue">Commander</button>
        <div *ngIf="ButtonCommand === true" >
        <!--  <app-cart [hidden] = "true" [params] = "params"></app-cart>-->
        </div>
    </div>
  </div>
