<div class="w3-display-container bgimg1 w3-animate-opacity">
  <div class="w3-display-middle">
    <span class="w3-center w3-padding-large w3-white w3-animate-right" style="white-space: nowrap;"><strong>WELCOME TO MY WEBSITE</strong></span>
  </div>
</div>
<div class="w3-container w3-padding w3-animate-left">
  <h3 class="w3-center">ABOUT US</h3>
  <p>L'équipe de France de football, créée en 1904, est l'équipe nationale qui représente la France dans les compétitions internationales masculines de football, sous l'égide de la Fédération française de football (FFF). Elle consiste en une sélection des meilleurs joueurs français. Les joueurs sont traditionnellement appelés Les Tricolores ou encore Les Bleus. De nos jours, c'est cette dernière appellation qui est la plus usitée.</p>
  <p>La France est la première sélection à avoir remporté toutes les compétitions internationales : Coupe du monde (1998 et 2018), coupe des Confédérations (2001, 2003), Jeux olympiques (1984) et son championnat continental (1984, 2000). Cette performance est égalée par l'Argentine en 2004 et le Brésil à l'issue des Jeux de Rio 2016.</p>
</div>
<div class="w3-container w3-padding w3-animate-right">
  <h3 class="w3-center">OUR TEAM</h3>
  <ul class="w3-ul w3-border w3-card">

    <li *ngFor="let person of team">
      <img class="w3-left w3-circle w3-margin-right" src="assets/{{person.icon}}.png">
      <span class="w3-large">{{person.firstname}} {{person.lastname}}</span><br>
      <span>{{ person.status }}</span>
    </li>

  </ul>
</div>
